<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/head.ejs') %>
    <title>Modal Receh - Landing Page</title>
<!--

TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="assets/images/modal-receh.png" alt="" style="width: 120px;height: 60px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/register">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h4>Modal Receh - Simulasi Investasi Saham</h4>
            <h2>Buy &amp; Sell Without Losing Money.</h2>
            <p><b>Modal Receh</b> adalah aplikasi simulasi investasi saham, yang dirancang khusus untuk membantu kamu belajar, dan memahami cara kerja pasar saham tanpa risiko kehilangan uang.</p>
            <div class="buttons">
              <div class="border-button">
                <a href="explore.html">Sign Up</a>
              </div>
              <div class="main-button">
                <a href="https://youtube.com/templatemo" target="_blank">Try Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="owl-banner owl-carousel">
            <div class="item">
              <img src="assets/images/investor.jpg" alt="" style="border-radius: 5%">
            </div>
            <div class="item">
              <img src="assets/images/investor-to-the-moon.jpg" alt="" style="border-radius: 5%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  
  <div class="categories-collections">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="categories">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h2>Explore Some <em>Trending Stocks</em> In Market.</h2>
                </div>
              </div>
              <% stocks.forEach(el => { %>
                  <div class="col-lg-2 col-sm-6 mb-5">
                      <div class="item">
                          <div class="icon">
                              <img src="<%= el.img %>" alt="<%= el.code %>">
                          </div>
                          <h4><%= el.code %></h4>
                          <h6><%= el.sector %></h6>
                          <h6>
                              <% if (el.currentPercent <0 ) { %>
                                  <span class="text-danger"><%= el.currentPercent.toFixed(2) %> %</span>
                              <% } else { %>
                                  <span class="text-success">+ <%= el.currentPercent.toFixed(2) %> %</span>
                              <% } %>
                          </h6>
                          <h6><%= formatRupiah(el.currentPrice) %></h6>
                          <div class="icon-button">
                              <a href="/dashboard"><i class="fa fa-angle-right"></i></a>
                          </div>
                      </div>
                  </div>
              <% }) %>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="collections">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h2>With <em>Modal Receh</em> You Can</h2>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="owl-collection owl-carousel">
                  <div class="item">
                    <div class="down-content">
                      <h4>Pilih Saham Populer</h4>
                      <p class="fw-bold">Eksplorasi berbagai saham dengan harga terkini.</p>
                      <div class="main-button">
                        <a href="/login">Try Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="down-content">
                      <h4>Transaksi Virtual</h4>
                      <p class="fw-bold">Beli dan jual saham pakai modal simulasi.</p>
                      <div class="main-button">
                        <a href="/login">Try Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="down-content">
                      <h4>Pantau Portofolio</h4>
                      <p class="fw-bold">Lacak performa investasimu secara real-time.</p>
                      <div class="main-button">
                        <a href="/login">Try Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="down-content">
                      <h4>Grafik & Prediksi</h4>
                      <p class="fw-bold">Lihat tren harga dan potensi return investasimu.</p>
                      <div class="main-button">
                        <a href="/login">Try Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="down-content">
                      <h4>Latihan Investasi</h4>
                      <p class="fw-bold">Uji strategi sebelum masuk ke pasar nyata.</p>
                      <div class="main-button">
                        <a href="/login">Try Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>

  </body>
</html>