<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Modal Receh - Sell Stock</title>
</head>

<body>

    <%- include('partials/loading.ejs') %>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="/assets/images/modal-receh.png" alt="" style="width: 120px;height: 60px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="/portfolio" class="active">Portfolio</a></li>
                            <li><a href="/stocks">Stocks</a></li>
                            <li><a href="/logout">Logout</a></li>
                            <li><a href="/profile" style="text-transform: none;"><%= username %>: <%= formatRupiah(balance) %></a></li>
                        </ul>   
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <div class="item-details-page" style="padding: 140px 0px 410px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>History Sold <em><%= stock.code %></em> <%= stock.name %> Stocks</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <a href="/portfolio" class="btn btn-warning">Back</a>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">Date Buy</th>
                                <th scope="col" class="text-center">Date Sell</th>
                                <th scope="col" class="text-center">Qty Lot</th>
                                <th scope="col" class="text-center">Buy Price</th>
                                <th scope="col" class="text-center">Sell Price</th>
                                <th scope="col" class="text-center">Invested</th>
                                <th scope="col" class="text-center">Total Sell</th>
                                <th scope="col" class="text-center">Profit/Loss</th>
                                <th scope="col" class="text-center">Profit/Loss (%)</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% stock.Transactions.forEach((el, i) => { %>
                                <tr>
                                    <th scope="row" class="text-center"><%= i+1 %></th>
                                    <td class="text-center"><%= formatDateLocal(el.createdAt) %></td>
                                    <td class="text-center"><%= formatDateLocal(el.updatedAt) %></td>
                                    <td class="text-center"><%= el.qty %></td>
                                    <td class="text-center"><%= formatRupiah(el.price) %></td>
                                    <td class="text-center"><%= formatRupiah(el.sellPrice) %></td>
                                    <td class="text-center"><%= formatRupiah(el.totalPrice) %></td>
                                    <td class="text-center"><%= formatRupiah(el.totalSellPrice) %></td>
                                    <td class="text-center">
                                        <% if (el.profit < 0) { %>
                                            <b class="text-danger"><%= formatRupiah(el.profit) %></b>
                                        <% } else { %>
                                            <b class="text-success"><%= formatRupiah(el.profit) %></b>
                                        <% } %>
                                    </td>
                                    <td class="text-center">
                                        <% if (el.profitPersen < 0) { %>
                                            <b class="text-danger"><%= el.profitPersen %> %</b>
                                        <% } else { %>
                                            <b class="text-success"><%= el.profitPersen %> %</b>
                                        <% } %>
                                    </td>
                                    <td class="text-center">
                                        <a href="/transaction/invoice/<%= el.id %>" class="btn btn-sm btn-primary">Print Purchased Invoice</a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="/assets/js/helper.js"></script>
    <script src="/assets/js/transaction.js"></script>
</body>
</html>